// GENERAL
// ----------------------------------------------------------------------------
	$primary: #1976D2;
	$secondary: #424242;
	$accent: #82B1FF;
	$info: #27B1DB;
	$warning: #F5F542;
	$error: #F14B4B;
	$success: #63C017;

// SCROLLBAR
// ----------------------------------------------------------------------------
	$scrollbar-width: 5px;
	$scrollbar-track-bg-color: white;
